{% extends 'base.html' %}

{% block title %}  Register {% endblock %}


{% block content %}
<br>
             <div style="">
                <form action="" method="POST">
                    <div id="frame" style="text-align: center; width: 100%;">
                        <label id="label" for="attendance" style="font-weight: 900; display: block; text-align: start; padding-left: 163px;">Input Name Or Mat Number</label>
                        <input type="text" style="" name="query" id="attendance" placeholder="Insert first name or mat num">
                    </div>
                    <br>
                    <div style="padding: 7px; text-align: center; border-radius: 20px; margin: 5px;">
                        <button id="mobile_submit" style="padding: 5px; width: 100px; border-radius: 10px; border: none; color: white; background-color: black;" type="submit">Submit</button>
                    </div>
                </form>

                <!-- the result -->
                 <div id="result2" style="border: 1px solid black;height: 70px; border-radius: 20px; padding: 3px; margin: 6px; display: none;">
                    
                 </div>
             </div>
             <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

             <script>
                $(document).ready(function(){
                    var input = document.getElementById('attendance')
                    var result = document.getElementById('result2')
                    input.addEventListener('input',()=>{
                        console.log('it changed')
                        console.log(input.value)

                        $.ajax({
                            type:'GET',
                            url: `/get_individual/${input.value}`,

                            success:function(response){
                                if (response && response.firstname){
                                    if (input.value != ""){
                                        result.style.display = 'block'
                                    }else{
                                        result.style.display = 'none'
                                    }
                                    result.innerHTML = `
                                        <ul style="font-size: 12px;">
                                            <li>${response.firstname} ${response.lastname}</li>
                                            <li>${response.mat_num}</li>
                                            <li>${response.dept}</li>
                                        </ul>
                                    `;
                                }else{
                                    if (input.value != ""){
                                        result.style.display = 'block'
                                    }else{
                                        result.style.display = 'none'
                                    }
                                    result.innerHTML = `
                                        <ul style="font-size: 12px;">
                                            <li>No such record</li>
                                        </ul>
                                    `;
                                }
                            },
                            error: function(error){
                                console.log('there is an error')
                            }
                        })
                    })
                })

             </script>

             <script>
                var width = window.screen.availWidth
                var m_submit = document.getElementById('mobile_submit')

                if (width < 450){
                    document.getElementById('attendance').setAttribute('style', "padding:5px; width: 85%;");
                    document.getElementById('frame').style.textAlign = 'start'
                    document.getElementById('label').style.paddingLeft = '0'

                    m_submit.addEventListener('click', ()=> {
                        m_submit.style.padding = '7px'
                        m_submit.style.padding = '7px'
                    })
                }else{
                    document.getElementById('attendance').setAttribute('style', "padding:5px; width: 70%;");
                    document.getElementById('frame').style.textAlign = 'center'
                    document.getElementById('result').style.fontSize = '16px'

                    m_submit.style.width = '130px'
                    m_submit.style.padding = '10px'


                }
             </script>

        </div>
    </div>

    <!-- <script src="{{ url_for('static', filename='js/base.js') }}"></script> -->
     <script>
        var width = window.screen.availWidth;
        var height = window.screen.availHeight;
        console.log("Available Screen Width:", width);
        console.log("Available Screen Height:", height);
        console.log('prime')
        console.log(typeof width)


        var sidebar = document.querySelector('.container > div:nth-child(1)');
        var content = document.querySelector('.container > div:nth-child(2)');
        var menu = document.getElementById('menu')
        var icon = document.getElementById('menu-icon');
        // the part that welcomes user
        document.getElementById('result').innerText = 'welcome Prime';

        // the part that gives menu action
        icon.addEventListener('click', () => {
            if (sidebar.style.display === 'none') {
                sidebar.style.display = 'block';
            } else {
                sidebar.style.display = 'none';
            }
        })



        if (width < 450) {
            // sidebar.style.flexBasis  = '0%';
            sidebar.style.display = 'none';
            // content.style.flexBasis = '100%';
            content.style.width = '100%';
            content.style.padding = '3px';
            menu.style.justifyContent = 'space-between'
            console.log('width < 451')
            content.style.flexBasis = '100%';
        }else{
            document.getElementById('menu-icon').style.display = 'none';
            menu.style.justifyContent = 'flex-end'
            menu.style.paddingRight = '7px'
        }
     </script>

    
{% endblock %}